<clr-modal [(clrModalOpen)]="isOpen" [clrModalClosable]="false">
  <h3 class="modal-title">{{ isNew ? ('Car.NewCar' | translate) : ('Car.UpdateCar' | translate) }}</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="form" clrLayout="vertical" class="full-width">
      <clr-input-container>
        <label>{{ 'Car.NameLabel' | translate }}</label>
        <input clrInput formControlName="name" placeholder="{{ 'Car.NamePlaceholder' | translate }}" autocomplete="off" required />
        <clr-control-error>{{ 'Validation.Required' | translate }}</clr-control-error>
      </clr-input-container>
      <div class="clr-row">
        <clr-input-container class="clr-col-6">
          <label>{{ 'Car.DateOfPurchaseLabel' | translate }}</label>
          <input
            clrInput
            type="date"
            formControlName="dateOfPurchase"
            placeholder="{{ 'Car.DateOfPurchasePlaceholder' | translate }}"
            autocomplete="off"
            required
          />
          <clr-control-error>{{ 'Validation.Required' | translate }}</clr-control-error>
        </clr-input-container>
        <clr-input-container class="clr-col-6">
          <label>{{ 'Car.MileageAtPurchaseLabel' | translate }}</label>
          <input
            clrInput
            type="number"
            step="1"
            formControlName="mileageAtPurchase"
            placeholder="{{ 'Car.MileageAtPurchasePlaceholder' | translate }}"
            autocomplete="off"
            required
          />
          <clr-control-error *clrIfError="'required'">{{ 'Validation.Required' | translate }}</clr-control-error>
          <clr-control-error *clrIfError="'pattern'">{{ 'Validation.OnlyInteger' | translate }}</clr-control-error>
        </clr-input-container>
      </div>
      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <input clrCheckbox type="checkbox" formControlName="archived" />
          <label>{{ 'Car.Archived' | translate }}</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="close()">{{ 'App.Cancel' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="submit()" [clrLoading]="submitButtonState">
      {{ isNew ? ('App.Add' | translate) : ('App.Save' | translate) }}
    </button>
  </div>
</clr-modal>
