.action-bar {
  display: flex;
  justify-content: space-between;

  clr-dropdown {
    button {
      padding: 0;
    }

    clr-dropdown-menu clr-icon {
      margin-right: 5px;
    }
  }
}

.add {
  margin-top: 1rem;
}

.table {
  &.fuel-selected {
    margin-bottom: 2.5rem;
  }

  tbody tr {
    &.active {
      background-color: #d8e3e9;
    }
  }
}

.footer-bar {
  position: fixed;
  overflow: visible;
  background-color: #fafafa;
  box-shadow: 0px -1px 3px #ccc;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  > div {
    margin: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;

    .btn {
      width: 100%;
      margin: 0;

      &:first-child {
        margin-right: 0.5rem;
      }

      &:last-child {
        margin-left: 0.5rem;
      }

      clr-icon {
        margin-right: 5px;
      }
    }
  }
}
