<myf-main-container>
  <div class="header-actions" *ngIf="car$ | async as car">
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger>
        <clr-icon shape="ellipsis-vertical"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <h4 class="dropdown-header">{{ car.name }}</h4>
        <myf-update-car-button [car]="car" [dialog]="carDialog"></myf-update-car-button>
        <myf-delete-car-button [userId]="userId$ | async" [carId]="car.id" [dialog]="confirmDialog"></myf-delete-car-button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>

  <ng-container *ngIf="initialized; else loading">
    <ng-container *ngIf="isAuthorized$ | async; else userNotFound">
      <ng-container *ngIf="car$ | async as car; else carNotFound">
        <ng-container *ngIf="{ selectedFuel: selectedFuel$ | async } as data">
          <h1>{{ 'CarDetail.Title' | translate: { name: car.name } }}</h1>

          <clr-alert *ngIf="car.archived" [clrAlertType]="'warning'" [clrAlertClosable]="false">
            <clr-alert-item>
              <span class="alert-text">
                {{ 'CarDetail.ArchivedMessage' | translate }}
              </span>
            </clr-alert-item>
          </clr-alert>

          <p>{{ 'CarDetail.Description' | translate }}</p>

          <div class="add" *ngIf="!car.archived">
            <button class="btn btn-primary btn-block" (click)="createFuel(car.id)">{{ 'Fuel.Create' | translate }}</button>
          </div>

          <ng-container *ngIf="fuels$ | async as fuels">
            <table class="table" *ngIf="fuels.length > 0" [ngClass]="{ 'fuel-selected': data.selectedFuel && !car.archived }">
              <thead>
                <tr>
                  <th>{{ 'Fuel.DateHeader' | translate }}</th>
                  <th>{{ 'Fuel.KmHeader' | translate }}</th>
                  <th>{{ 'Fuel.LitresHeader' | translate }}</th>
                  <th>{{ 'Fuel.ConsumationHeader' | translate }}</th>
                  <th>{{ 'Fuel.CostsHeader' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let fuel of fuels; trackBy: trackById"
                  (click)="selectFuel(fuel)"
                  [ngClass]="{ active: data.selectedFuel?.id === fuel.id && !car.archived }"
                >
                  <td>{{ fuel.date | date: 'dd.MM.yy' }}</td>
                  <td>{{ fuel.km | number: '1.0-0' }}</td>
                  <td>{{ fuel.litres | number: '1.2-2' }}</td>
                  <td>{{ getConsumation(fuel) | number: '1.2-2' }}</td>
                  <td>{{ fuel.cost | number: '1.2-2' }}</td>
                </tr>
              </tbody>
            </table>
          </ng-container>

          <div class="footer-bar" *ngIf="data.selectedFuel && !car.archived">
            <div>
              <button class="btn btn-danger-outline" (click)="deleteFuel(data.selectedFuel.id)">
                <clr-icon shape="trash"></clr-icon> {{ 'Fuel.DeleteButtonText' | translate }}
              </button>
              <button class="btn btn-outline" (click)="updateFuel(data.selectedFuel)">
                <clr-icon shape="pencil"></clr-icon> {{ 'Fuel.UpdateButtonText' | translate }}
              </button>
            </div>
          </div>

          <myf-fuel-dialog></myf-fuel-dialog>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #loading><myf-loading></myf-loading></ng-template>
  <ng-template #userNotFound
    ><myf-alert-message [alertType]="'danger'">{{ 'App.UserNotFound' | translate }}</myf-alert-message></ng-template
  >
  <ng-template #carNotFound
    ><myf-alert-message [alertType]="'danger'">{{ 'App.CarNotFound' | translate }}</myf-alert-message></ng-template
  >
</myf-main-container>

<myf-car-dialog></myf-car-dialog>
<myf-confirm-dialog></myf-confirm-dialog>
