<div class="action-bar">
  <a routerLink="../"><clr-icon shape="arrow left"></clr-icon> Back to my cars</a>
  <clr-dropdown>
    <button clrDropdownTrigger>
      <clr-icon shape="ellipsis-vertical" size="24"></clr-icon>
    </button>
    <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
      <div clrDropdownItem (click)="updateCar()"><clr-icon shape="pencil"></clr-icon> Update</div>
      <div clrDropdownItem (click)="deleteCar()"><clr-icon shape="trash" class="is-error"></clr-icon> Delete</div>
    </clr-dropdown-menu>
  </clr-dropdown>
</div>

<h1>{{ name }}</h1>

<p>
  The list shows all tank fillings with the driven kilometers, costs as well as the consumption per 100 km. Always add a new entry when you
  go to the gas station.
</p>

<div class="add">
  <button class="btn btn-primary btn-block" (click)="addFuel()">Add new fuel</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Km</th>
      <th>Litres</th>
      <th>Cons.</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fuel of fuels">
      <td>{{ fuel.date | date: 'dd.MM.yyyy' }}</td>
      <td>{{ fuel.km }}</td>
      <td>{{ fuel.litres }}</td>
      <td>{{ fuel.consumption }}</td>
      <td>{{ fuel.cost }}</td>
    </tr>
  </tbody>
</table>

<myf-car-dialog (sucess)="onCarUpdated($event)"></myf-car-dialog>
<myf-confirm-dialog (sucess)="onConfirmSucess($event)"></myf-confirm-dialog>
