.footer-bar {
  position: fixed;
  overflow: visible;
  background-color: #fafafa;
  box-shadow: 0px -1px 3px #ccc;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  > div {
    margin: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;

    * {
      width: 100%;
      max-width: none;
      margin: 0;

      &:first-child {
        margin-right: 0.5rem;
      }

      &:last-child {
        margin-left: 0.5rem;
      }
    }
  }
}
