<h1>My cars</h1>

<p>Click on a car in the list to see the statistics and add tank fills. You can also add new cars at any time.</p>

<ul class="list-unstyled cars">
  <li>
    <a routerLink="./car-1">
      <span>Audi RS 3</span>
      <clr-icon shape="caret right"></clr-icon>
    </a>
  </li>
  <li>
    <a routerLink="./car-2">
      <span>Porsche 911 Turbo</span>
      <clr-icon shape="caret right"></clr-icon>
    </a>
  </li>
</ul>

<button class="btn btn-primary btn-block">Add new car</button>
