<ng-container *ngIf="initialized && activeCars$ | async as activeCars; else loading">
  <ng-container *ngIf="isAuthorized$ | async; else userNotFound">
    <h1>{{ 'Car.Title' | translate: { name: userName$ | async } }}</h1>

    <p>{{ 'Car.Description' | translate }}</p>

    <myf-car-list *ngIf="activeCars.length > 0; else noItems" [cars]="activeCars"></myf-car-list>

    <ng-template #noItems
      ><p class="no-items">
        <i>{{ 'Car.NoItemsFound' | translate }}</i>
      </p></ng-template
    >

    <button class="btn btn-primary btn-block" (click)="createCar()">{{ 'Car.NewCar' | translate }}</button>
    <myf-car-dialog></myf-car-dialog>

    <ng-container *ngIf="archivedCars$ | async as archivedCars">
      <clr-accordion *ngIf="archivedCars.length > 0" class="inline-accordion">
        <clr-accordion-panel>
          <clr-accordion-title>{{ 'Car.ArchivedCars' | translate }}</clr-accordion-title>
          <clr-accordion-content *clrIfExpanded>
            <myf-car-list [cars]="archivedCars"></myf-car-list>
          </clr-accordion-content>
        </clr-accordion-panel>
      </clr-accordion>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #loading><myf-loading></myf-loading></ng-template>
<ng-template #userNotFound
  ><myf-error-message>{{ 'App.UserNotFound' | translate }}</myf-error-message></ng-template
>
