.cars {
  margin: 1rem 0;

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem;
    color: #575757;
    font-weight: bold;

    &:hover {
      text-decoration: none;
      background-color: #ccc;
    }
  }
}
