<myf-loading *ngIf="isLoading$ | async; else container"></myf-loading>

<ng-template #container>
  <ng-container *ngIf="isAuthorized$ | async; then content; else userNotFound"></ng-container>
</ng-template>

<ng-template #content>
  <h1>{{ 'ListOfCars.Title' | translate: { name: userName$ | async } }}</h1>
  <p>{{ 'ListOfCars.Description' | translate }}</p>

  <myf-active-cars [cars]="activeCars$ | async"></myf-active-cars>
  <myf-car-create [userId]="userId"></myf-car-create>
  <myf-archived-cars [cars]="archivedCars$ | async"></myf-archived-cars>
</ng-template>

<ng-template #userNotFound>
  <myf-alert-message [alertType]="'danger'">{{ 'App.UserNotFound' | translate }}</myf-alert-message>
</ng-template>
