* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

.clr-input {
  font-size: 16px; // used for no-zoom on mobile devices
}

.clr-form.full-width {
  .clr-form-control {
    margin-bottom: 1rem;
    align-items: unset;

    .clr-input {
      width: 100%;
      margin-right: -1rem;
    }
  }
}

.inline-accordion {
  .clr-accordion-header,
  .clr-accordion-content {
    border: 0 !important;
    background: inherit;
  }

  .clr-accordion-header-button,
  .clr-accordion-inner-content {
    padding: 0 !important;
  }
}
