* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

.mt-1 {
  margin-top: 1rem;
}

.clr-input {
  font-size: 16px; // used for no-zoom on mobile devices
}

.clr-form.full-width {
  .clr-form-control {
    margin-bottom: 1rem;
    align-items: unset;

    .clr-input {
      width: 100%;
      margin-right: -1rem;
    }
  }
}

.dropdown-menu {
  .dropdown-item {
    padding-left: 0.5rem;

    clr-icon {
      margin-right: 5px;
    }
  }
}

.accordion {
  .clr-accordion-header,
  .clr-accordion-content {
    border: 0 !important;
    background: inherit;
  }

  .clr-accordion-header-button,
  .clr-accordion-inner-content {
    padding: 0 !important;
  }
}

.btn.full-width {
  width: 100%;
  max-width: none;
  margin: 0;

  clr-icon {
    margin-right: 5px;
  }
}
